<!DOCTYPE html>
<html>
<style type="text/css">

    .error{
        font-family:courier;
        color:red;
        font-weight:bold;
        font-size:40px;
        }
</style>
    <head>
        <title>The K Blog</title>
    </head>

    <body style="margin:0;">
        <h1 style="background-color:white; color:white; margin: 0 height: 50px;font-family:Franklin Gothic;font-size:40px;">
            <a href="/">Home</a>
        </h1>
        <h1>
            <a href="/newpost">Create a new post.</a>
        </h1>
        {% block content %}

        {% endblock %}
    </body>


</html>