{% extends "base.html" %}

{% block content %}



<form method="post">
    <label>
        <h2 style="font-family:consolas;margin-left:350px">The 5 most recent blog posts will be listed below.</h2>

    </label>



    <hr>
    <p style="font-family:consolas; font-size:20px;margin-left:400px;margin-top:50px;">Click below to make a new post.</p>
    <input style="margin-left:500px" type="submit" value="New post.">
</form>
<hr>


{% for body in posts %}
    <div class="body">
        <div class="title">{{body.title}}</div>
        <pre class="body">{{body.body}}</pre>
    </div>
{% endfor %}

{% endblock %}


























