{% extends "base.html" %}

{% block content %}


<label>
        <h2 style="font-family:consolas;margin-left:350px">The 5 most recent blog posts will be listed below.</h2>


</label>
<hr>



{% for body in posts %}


    <form method="post">
    <div>
        <h2><a href="/blog/{{body.key().id()}}">{{ body.title }}</a><h2>
        <br>
        <div style="font-family:consolas;font-size:20px;">{{body.body}}</div>
        <hr>
    </div>
    </form>
{% endfor %}




{% endblock %}


























