<!DOCTYPE html>

<html>

    <head>
        <title>Build-a-Blog</title>
    </head>

    <body>
        <h1>Kelvin's Blog</h1>

        <form method="post">


            <label>
                <div>New blog title.</div>
                    <input type="text" name="newpost">
            <label>
                <div><h3>New Post</h3></div>
                <textarea name="postbody"></textarea>
                <input type="submit" value="Submit new post.">
            </label>
            <label><h2>Archived Posts</h2></label>

            <br>
            <label>
                Post #1.
            </label>
            <br>

            <label>
                Post #2.
                      <br>
                       .
                       .
                       .
            </label>
            <br>

            <label>
                Post #10.
            </label>

        </form>

    </body>

</html>

