{% extends "base.html" %}
#What I need to have happen on this page now, is that it should post the new blog posting on the frontpage.
{% block content %}

<h2 style="font-family:consolas;font-size:30px">Make a new blog post.</h2>

<form style="font-family:consolas; font-size:20px" method="post">
    <label>Title
        <div class="title">{{title}}</div>
        <input type="text" name="title"/>
    </label>
    <label>Body
        <div class="body">{{body}}</div>
        <textarea style="height:400px;width:500px"></textarea>
    </label>
    <br>
    <div class="error">{{error}}</div>
    <input type="submit" value="Submit Post">


</form>

{% endblock %}
