{% extends "base.html" %}
#What I need to have happen on this page now, is that it should post the new blog posting on the frontpage.
{% block content %}

<h2 style="font-family:consolas;font-size:30px">Make a new blog post.</h2>

<form method="post" style="font-family:consolas; font-size:20px">
    <label>
        <div class="title">New Post Title</div>
        <input type="text" name="title"/>
        <br>
    </label>

    <label>
        <div style="margin-top:50px;" class="body">Post Content</div>
        <textarea name="body" style="height:400px;width:500px"></textarea>
    </label>
    <br>
    <div class="error">{{error}}</div>
    <input type="submit" value="Submit Post">


</form>




{% endblock %}
